In [1]:
import pandas as pd 
import numpy as np

In [6]:
birth_94_03=pd.read_csv('./births/US_births_1994-2003_CDC_NCHS.csv')
birth_00_14=pd.read_csv('./births/US_births_2000-2014_SSA.csv')

In [8]:
birth_94_03.head()

   year  month  date_of_month  day_of_week  births
0  1994      1              1            6    8096
1  1994      1              2            7    7772
2  1994      1              3            1   10142
3  1994      1              4            2   11248
4  1994      1              5            3   11053

In [9]:
birth_00_14.head()

   year  month  date_of_month  day_of_week  births
0  2000      1              1            6    9083
1  2000      1              2            7    8006
2  2000      1              3            1   11363
3  2000      1              4            2   13032
4  2000      1              5            3   12558